# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Mac
.DS_Store

# nodejs
node_modules/
package-lock.json
nohup.out

# python
__pycache__
.pytest_cache

# build
target/
build/
dist/

# eclipse
.settings/
.metadata/

# JetBrains
.idea/
*.iml
