<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width,minimal-ui" />
    <title>AWS DeepRacer League</title>
</head>

<body>
    <script src="lib/aws-sdk.min.js"></script>
    <script src="lib/mqtt.min.js"></script>
    <script src="run.js"></script>
    <script>
        run('main')
    </script>
</body>

</html>
